$color-white: #FFF;
$color-orange: #F2785C;
$color-green: #0D606F;

%font-aleo {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: 1279px) {
        font-size: 19px;
        line-height: 22px;
    }

    @media (max-width: 1023px) {
        font-size: 18px;
        line-height: 20px;
    }

    @media (max-width: 900px) {
        font-size: 17px;
        line-height: 19px;
    }

    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 16px;
    }

    @media (max-width: 480px) {
        font-size: 12px;
        line-height: 11px;
    }

    @media (max-width: 390px) {
        font-size: 9px;
        line-height: 11px;
    }
}